.p{
  color: light pink;
  font-family: Century;
}

.ul {
color: light pink;
}

.ol{
color: light pink;
}

.header{
text-align: center;
  color: light pink;

.h1{
  border: 2px light yellow;
color: light pink;
}

.body{
color: light pink;
}

.footer{
color: light pink;
  text-align: center;
}

  
}

